<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->
<suite thread-count="1" parallel="classes" name="Suite1">
	<test thread-count="1" parallel="classes" name="Test1">
		<classes>
			<class name="cucumberPkg.googleSearchCucumberTestRunner" />
			<class name="orangeHrmDemoWebsite.orangeLoginTest" />
			<class name="Pages.GoogleSearchPageTest" />
			<class name="SauceLab_SwagLabs.swagLabTest" />
			<class name="tests.Demo_ExtentReports" />
			<class name="tests.Demo_TestNG" />
			<class name="tests.Demo_WebDriverManager" />
			<class name="utils.ExcelUtils_Test" />
		</classes>
	</test> <!--
	Test1 -->
</suite> <!--
Suite1 -->
